{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row ">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-front text-black text-center">
                    Bookings
                </h1>
                {% for booking in bookings %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">(slottime for booking and number of bookings) / 8</h5>
                        <p class="card-text">(day and date for booking)</p>
                        <a href="#" class="btn btn-primary">Cancel</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}